<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @major.name %>
</p>

<p>
  <b>Requirement:</b>
  <%= @major.requirement %>
</p>


<%= link_to 'Edit', edit_major_path(@major) %> |
<%= link_to 'Back', majors_path %>
